.header_text {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8a7a97;
}


#logo {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.content{
    background: url(../../images/stage_accueil.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    color: white;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.icone {
    width: 8vh;
    min-width: 2vw;
}