@import url('header/header.css');
@import url('main/main.css');
@import url('footer/footer.css');
@import url('extra/modal.css');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}