@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Reset styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Logo styles */
#logo {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
}

/* Header styles */
.header {
    margin: 0;
    padding: 0;
}

.header_text {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Remove duplicate justify-content */
    padding: 10px;
    background-color: #8a7a97;
}

/* Content styles */

/* Link styles */
a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/* Icon styles */
.icone {
    width: 50px;
}