@import url('offres.css');
@import url('AlertesEtCandidatures.css');

main{
    display: flex;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

.sectionTitle {
    
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(50, 50, 50);
  }